{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}


    <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}

    {#    <label for="username">{{ 'security.login.username'|trans }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

        <label for="password">{{ 'security.login.password'|trans }}</label>
        <input type="password" id="password" name="_password" required="required" />

        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />#}

        <!--//================Bredcrumb starts==============//-->
        <section>
            <div class="bredcrumb-section padTB20 positionR">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page-head">
                                <div class="page-header-heading">
                                    <h3 class="theme-color">Account</h3>
                                </div>
                                <div class="breadcrumb-box">
                                    <ul class="breadcrumb colorW marB0">
                                        <li>
                                            <a href="index.html">Home</a>
                                        </li>
                                        <li class="active">Account</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--//================Bredcrumb end==============//-->
        <div class="clear"></div>
        <!--//================Register start==============//-->
        <div class="padT100 padB70 register-section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="tab text-center marB50">
                            <a class="tablinks active" data-id="login">Se connecter</a>
                            <a class="tablinks " data-id="register">S'inscrire</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="login" class="tabcontent theme-form"  style="display:block;">
                        <div class="col-md-6 col-sm-8 col-xs-12 col-md-offset-3 col-sm-offset-2 col-xs-offset-0">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 marB30 positionR">
                                    <input type="text" placeholder="Email">
                                    <i class="fa fa-envelope input" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 marB10 positionR">
                                    <input type="text" placeholder="Mot de passe">
                                    <i class="fa fa-lock input" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 marB30 positionR">
                                    <input id="checkbox1" type="checkbox" name="$0-$2000" value="$0-$2000">
                                    <label class="radio-label" for="checkbox1">Se souvenir de moi</label>
                                    <a href="#" class="pull-right colorB">Mot de passe oublié ?</a>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 marB30 positionR">
                                    <a href="#" class="itg-button dark">Connection</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="register" class="tabcontent theme-form">
                        <div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12 marB30 positionR">
                                    <input type="text" placeholder="First name">
                                    <i class="fa fa-user input" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 marB30 positionR">
                                    <input type="text" placeholder="Last name">
                                    <i class="fa fa-user input" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 marB30 positionR">
                                    <input type="text" placeholder="Email">
                                    <i class="fa fa-envelope input" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 marB30 positionR">
                                    <input type="text" placeholder="Contact no.">
                                    <i class="fa fa-phone input" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 marB30 positionR">
                                    <input type="text" placeholder="Password">
                                    <i class="fa fa-lock input" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 marB30 positionR">
                                    <input type="text" placeholder="Confirm password">
                                    <i class="fa fa-lock input" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 marB30 positionR">
                                    <a href="#" class="itg-button dark">Enregistrer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--//================Register end==============//-->

    </form>
</div>

<div class="clear"></div>

{{ include('MarmitonBundle:Default:footer.html.twig') }}

