<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="{{ asset('main.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style_login.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style_header.css') }}">
</head>
<body>
{% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
        <div class="{{ type }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}
{% endfor %}
{% block body %}
    {% block header %}{% endblock header %}
    {% block fos_user_content %}{% endblock %}
{% endblock %}

{#Ajoute#}

<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script src="{{ asset('assets/plugin/megamenu/js/hover-dropdown-menu.js') }}"></script>
<script src="{{ asset('assets/plugin/megamenu/js/jquery.hover-dropdown-menu-addon.js') }}"></script>
<script src="{{ asset('assets/plugin/owl-carousel/js/owl.carousel.min.js') }}"></script>


<script type="text/javascript" src="{{ asset('assets/plugin/counter/js/jquery.countTo.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/plugin/counter/js/jquery.appear.js') }}"></script>
<script src="{{ asset('assets/js/main.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>