{% trans_default_domain 'MarmitonBundle' %}

<!--//================Footer start==============//-->
<footer class="main_footer">
    <div class="container">
        <div class="footer-box padT80 padB40">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="foot-sec marB30">
                        <h3 class="colorW marB20">Marmiton ?</h3>
                        <p>
                            {{ 'footer.description'|trans }}
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="foot-sec marB30">
                        <h3 class="colorW marB20">{{ 'footer.contact'|trans }}</h3>
                        <p>ETNA <br>7 rue Maurice Grandcoing <br>94200 Ivry-sur-Seine</p>
                        <p>06 06 06 06 06 <br> info@gmail.com</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="foot-sec marB30">
                        <h3 class="colorW marB20">{{  'footer.compte.compte'|trans }}</h3>
                        <ul class="pad0">
                            <li><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-angle-right marR10" aria-hidden="true"></i>{{  'footer.compte.se_connecter'|trans }}</a></li>
                            <li><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-angle-right marR10" aria-hidden="true"></i>{{  'footer.compte.s_inscrire'|trans }}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="foot-sec foot-img-box marB30">
                        <h3 class="colorW marB20">{{  'footer.galerie'|trans }}</h3>
                        <ul class="pad0">
                            <li><a href="#"><img src="assets/img/footer/007-poisson-plat-restaurant-jour-de-marche-lyon-selection.jpg" alt=""/></a></li>
                            <li><a href="#"><img src="assets/img/footer/brasserie.jpg" alt=""/></a></li>
                            <li><a href="#"><img src="assets/img/footer/godjo-restaurant.jpg" alt=""/></a></li>
                            <li><a href="#"><img src="assets/img/footer/salade-du-terroir.jpg" alt=""/></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="foot-sec marB30">
                        <h3 class="colorW marB20">{{  'footer.reseaux_sociaux'|trans }}</h3>
                        <ul class="social-icon">
                            <li><a href="https://www.facebook.com/marmiton/?ref=br_rs" class="theme-circle marR10"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com/Marmiton_org?lang=fr" class="theme-circle marR10"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.instagram.com/marmiton_org/" class="theme-circle marR10"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="foot-sec marB30">
                        <h3 class="colorW marB20">Newsletter</h3>
                        <form class="search_bar">
                            <input type="text" name="search" placeholder= "{{ 'footer.newsletter.chercher'|trans }}" >
                            <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer padTB20 bagB">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center colorW">
                    <p>Copyright 2017  All Right Reserved <a href="http://www.itgeeksin.com/"><span class="theme-color">Mahamadou et Nicolas</span></a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-background">
        <figure class="top-left">
            <img src="assets/img/background/footer-back-1.png" alt=""/>
        </figure>
        <figure class="bottom-right">
            <img src="assets/img/background/footer-back-2.png" alt=""/>
        </figure>
    </div>
</footer>
<!--//================Footer end==============//-->