{% extends "::base.html.twig" %}
{% block body %}
    {{ include('MarmitonBundle:Default:header.html.twig') }}
<div class="clear"></div>
    {{ include('MarmitonBundle:Default:slider.html.twig') }}
    {{ include('MarmitonBundle:Default:service.html.twig') }}
    {% trans_default_domain 'MarmitonBundle' %}

    <div class="clear"></div>

    <!--//================preloader  start==============//-->
    <div class="preloader">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="first_object"></div>
                <div class="object" id="second_object"></div>
                <div class="object" id="third_object"></div>
                <div class="object" id="forth_object"></div>
            </div>
        </div>
    </div>
    <!--//================preloader  end==============//-->

<!--//================Featured Dishes start==============//-->
<section class="padT100 padB100">
    <!--- Theme heading start-->
    <div class="theme-heading marB50 positionR">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-8 col-xs-12  col-md-offset-3 col-sm-offset-2 col-xs-offset-0 heading-box text-center">
                    <h1>{{ 'vos_recettes'|trans }}</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem
                        quam, adipiscing condimentum
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--- Theme heading end-->
    <div class="container">
        <div class="row">
            <div id="collection-slider" class="owl-carousel owl-theme">
                {% for receipt in receipts %}
                <div class="item">
                    <div class="col-md-12">
                        <div class="collection-box theme-hover sticker">
                            {% if receipt.pictureName %}
                                <figure class="marB20">
                                    <img src="{{ asset(receipt.getWebPath()) }}" alt="">
                                </figure>
                            {% else %}
                                <figure class="marB20">
                                    <img src="assets/img/footer/brasserie.jpg" alt="">
                                </figure>
                            {% endif %}
                            <h3 class="marB10"><a href="#">{{ receipt.name }}</a></h3>
                            <p>
                                {{ receipt.description }}
                            </p>
                            <a href="#" class="colorB">Order Now</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!--//================Featured Dishes end==============//-->
<div class="clear"></div>
<!--//================Banner starts==============//-->
<section>
    <div class="special-style overlay">
        <div class="special-banner-image parallax-style"></div>
    </div>
    <div class="padT40 padB10" id ="data">
        <!--- Theme heading start-->
        <div class="theme-heading background marB50 positionR">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-8 col-xs-12  col-md-offset-3 col-sm-offset-2 col-xs-offset-0 heading-box text-center">
                        <h1> {{ 'communaute.titre'|trans }} </h1>
                        <p class="hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem
                            quam, adipiscing condimentum
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--- Theme heading end-->
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="facts text-center marB30">
                        <i class="fa fa-cutlery" aria-hidden="true"></i>
                        <h3>{{ 'communaute.nombre_de_recettes'|trans }}</h3>
                        <div class="count-number" data-count="2500">
                            <h1><span class="counter">2500</span> +</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="facts text-center marB30">
                        <i class="fa fa-coffee" aria-hidden="true"></i>
                        <h3>{{ 'communaute.utilisateurs_satisfaits'|trans }}</h3>
                        <div class="count-number" data-count="1200">
                            <h1><span class="counter">1200</span> +</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="facts text-center marB30">
                        <i class="fa fa-smile-o" aria-hidden="true"></i>
                        <h3>{{ 'communaute.nombre_d_utilisateurs'|trans }}</h3>
                        <div class="count-number" data-count="2200">
                            <h1><span class="counter">2200</span> +</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//================Banner end==============//-->

<div class="clear"></div>
    {{ include('MarmitonBundle:Default:footer.html.twig') }}



{% endblock body %}

