{% trans_default_domain 'MarmitonBundle' %}

<!--//================Slider start==============//-->
<section id="slider-section">
    <div id="main-slider" class="owl-carousel owl-theme slider positionR">
        <div class="item positionR">
            <figure class="slider-image positionR">
                <img src="assets/img/slider/main-1.jpg" alt="" class="hidden-xs"/>
                <img src="assets/img/slider/main-xs-1.jpg" alt="" class="hidden-sm hidden-lg hidden-md"/>
            </figure>
            <div class="slider-text positionA text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0 text-center">
                            <h2><i>{{ 'carousel.nom_de_la_recette'|trans }}</i></h2>
                            <h1>{{ 'carousel.les' |trans }} <span class="theme-color">{{ 'carousel.recettes_qui_ont_le_plus' |trans }}</span> {{ 'carousel.succes' |trans }}</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum </p>
                            <a href="register.html" class="itg-button light">{{ 'carousel.voir_la_recette' |trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item positionR">
            <figure class="slider-image positionR">
                <img src="assets/img/slider/main-2.jpg" alt="" class="hidden-xs"/>
                <img src="assets/img/slider/main-xs-2.jpg" alt="" class="hidden-sm hidden-lg hidden-md"/>
            </figure>
            <div class="slider-text positionA text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0 text-center">
                            <h2><i>{{ 'carousel.nom_de_la_recette'|trans }}</i></h2>
                            <h1>{{ 'carousel.les' |trans }} <span class="theme-color">{{ 'carousel.recettes_qui_ont_le_plus' |trans }}</span> {{ 'carousel.succes' |trans }}</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum </p>
                            <a href="register.html" class="itg-button light">{{ 'carousel.voir_la_recette' |trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item positionR">
            <figure class="slider-image positionR">
                <img src="assets/img/slider/main-3.jpg" alt="" class="hidden-xs"/>
                <img src="assets/img/slider/main-xs-3.jpg" alt="" class="hidden-sm hidden-lg hidden-md"/>
            </figure>
            <div class="slider-text positionA text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0 text-center">
                            <h2><i>{{ 'carousel.nom_de_la_recette'|trans }}</i></h2>
                            <h1>{{ 'carousel.les' |trans }} <span class="theme-color">{{ 'carousel.recettes_qui_ont_le_plus' |trans }}</span> {{ 'carousel.succes' |trans }}</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum </p>
                            <a href="register.html" class="itg-button light">{{ 'carousel.voir_la_recette' |trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//================Slider end==============//-->